body {
  background-image: url(../images/bg.png);
  background-color: $brand-primary;
}

.container {
  background: #fff;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 6.2rem;
  font-weight: lighter;
  color: #222;
}

form {
  margin-top: 2em;
  padding-bottom: 2em;
}
