.todo-list {
  list-style: none;
  @extend .row;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border: 1px solid #eee;
  border-radius: 5px;

  .meta {
    margin-top: 2em;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @extend .row;
  }

  li.todo {
    @extend .col-xs-12;
    border: 1px solid #eee;
    font-size: 1.2em;

    .toggle {
      text-align: center;
      width: 40px;
      /* auto, since non-WebKit browsers doesn't support input styling */
      height: auto;
      position: absolute;
      top: 7px;
      bottom: 0;
      margin: auto 0;
      border: none; /* Mobile Safari */
      -webkit-appearance: none;
      appearance: none;
    }

    .toggle:focus {
      outline: 0;
    }

    .toggle:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    }

    .toggle:checked:after,
    .toggle:hover:checked:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }

    .toggle:hover:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#ededed" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }

    .destroy {
      visibility: hidden;
      padding: 15px;
    }

    label {
      white-space: pre-line;
      word-break: break-all;
      padding: 16px 60px 15px 15px;
      margin-left: 45px;
      display: block;
      line-height: 1.2;
      transition: color 0.4s;
    }

    &.loading {
      label::after {
        content: "■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■";
        letter-spacing: -3px;
        color: $gray-lighter;
        font-size: 1.2em;
      }
    }

    &.completed {
      @extend .text-muted;
      text-decoration: line-through;
      background-color: rgba(151, 151, 151, 0.1);

      label {
        font-weight: lighter;
      }
    }

    input[type=checkbox] {
      margin-right: 1em;
    }

    &:hover {
      background-color: lighten($brand-primary, 40%);

      &> .destroy {
        visibility: visible;
      }
    }
  }
}

/*
Hack to remove background from Mobile Safari.
Can't use it globally since it destroys checkboxes in Firefox
 */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .todo-list li .toggle {
      background: none;
    }

    .todo-list li .toggle {
      height: 40px;
    }
  }
