// First include Bootstrap
@import "bootstrap";

// Below import your components' scss files
@import "components/base";
@import "components/todo-item";
@import "components/project";
@import "components/project-list";
